*{
	border-radius: 0 !important;
}

.message-card{
	background-color: #3276b1;
	color: #FFF;
	padding: 20px;
	margin-top: 5em !important;
	box-shadow: 6px 6px 0 0 #125691;
}

.modal{
	color: #2d2d2d;
}

.modal-content{
	border: none !important;	
}

.modal-title{
	text-align: center;
}

.modal-header{
	border-bottom: none !important;
}
.modal-footer{
	border-top: none !important;
}


#message-text{
	resize: none;
	border: none !important;
	box-shadow: 6px 6px 0 0 #AAA;
	color: #FFF;
	background-color: #3276b1;
	outline: none;
}

footer{
}

#loading-container a{
	color: #ea0079 !important;	
}

.profile-picture{
	padding: 0 0 0 0 !important;
}

.dropdown-menu{
	background-color: #e7e7e7;
	border: 0 !important;
	box-shadow: 6px 6px 0 0 #AAA;
}