<!DOCTYPE html>
<html>
	<head>
		<title>Haikyou</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://haikyou.jord.io/css/style.css">
		<link rel="stylesheet" href="http://haikyou.jord.io/css/bootstrap/justified-nav.css">

		<link rel="stylesheet" href="css/app.css">
	</head>


<body>

	<div id="new-message-modal" class="modal new-message-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content" id="new-message-container">
			</div>
		</div>
	</div>




	<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<h1><a class="navbar-brand" id="heading" href="http://app.haikyou.jord.io">Haikyou</a></h1>
			
			</div>


			<div class="collapse navbar-collapse" id="navigation-collapse">
				<ul class="nav navbar-nav">
					<li style="display: none;"><a href="#haikyou">Haikyou</a></li>
					<li><a id="me-btn" href="#me"><i class="fa fa-user"></i> Me</a></li>
					<li><a id="starred-btn" href="#starred"><i class="fa fa-star"></i> Starred</a></li>

					<li class="dropdown">
						<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
							<i class="fa fa-book"></i> Learn
						</a>

						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a target="_blank" href="#">Sonett</a></li>
							<li><a target="_blank" href="#">Shi</a></li>
							<li><a target="_blank" href="#">Villanelle</a></li>
							<li><a target="_blank" href="#">Tanka</a></li>
							<li><a target="_blank" href="#">Haiku</a></li>
							<li><a target="_blank" href="#">Ode</a></li>
							<li><a target="_blank" href="#">Ghazal</a></li>
						</ul>
					</li>



					<li class="dropdown">
						<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
							<i class="fa fa-pencil"></i> New
						</a>

						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="sonett" href="#">Sonett</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="shi" href="#">Shi</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="villanelle" href="#">Villanelle</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="tanka" href="#">Tanka</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="haiku" href="#">Haiku</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="ode" href="#">Ode</a>
							</li>
							<li>
								<a data-toggle="modal" data-target=".new-message-modal" data-message-type="ghazal" href="#">Ghazal</a>
							</li>
						</ul>
					</li>

				</ul>

				<ul class="nav navbar-nav navbar-justified">
					<li style="display: none;" id="loading-container">
						<a><i class="fa fa-circle-o-notch fa-spin"></i></a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
							<i id="loading-indicator" class="fa fa-cog"></i>
						</a>

						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="me-menu">

							<li class="divider"></li>

							<li>
								<a href="#"><i class="fa fa-wrench"></i> Settings</a>
							</li>

							<li>
								<a href="http://haikyou.jord.io"><i class="fa fa-sign-out"></i> Sign out</a>
							</li>
						</ul>
					</li>
				</ul>				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div class="container-fluid">

	  <!-- Jumbotron -->
	  <div id="haikyou" class="jumbotron">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8" id="conversation-container"></div>
			<div class="col-sm-2"></div>
		</div>

	</div>


	  <!-- Site footer -->
	  <footer class="footer">
		<p class="pull-right"><a href="https://github.com/haikyou/haikyou-api" target="_blank" class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Code">Github</a></p>

		<p>&copy; Haikyou 2015.</p>
	  </footer>

	</div> <!-- /container -->

  </body>

	<script type="template" id="message-view-template">
		<div class="message-card fade in media">
			<div class="media-body">
				<h4 class="media-heading"><%= message %> <span class="label label-default"><%= type %></span></h4>

				<span><%= from %></span> <i class="fa fa-long-arrow-right"></i> <span><%= to %></span> &middot; <span><%= visibility %></span> &middot; <i class="starred fa"></i> &middot; <i class="delete fa fa-trash-o"></i>				
			</div>
		</div>
	</script>  	


	<script type="template" id="new-message-view-template">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>

			<h4 class="modal-title">New <span><%= type %></span></h4>
		</div>


		<div class="modal-body">
			<form class="form" role="form">
				<div class="formgroup">
					<textarea class="form-control" id="message-text" rows="3" />
				</div>
				
			</form>
		</div>

    	<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" id="new-message-btn" class="btn btn-primary">Send</button>
		</div>

	</script>


	<script type="template" id="user-view-template">
		<li>
			<a href="#">
				<img src="img/person.jpg" class="profile-picture img-responsive" />
				<i class="fa fa-file-image-o"></i> Edit profile
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a><%= username %></a>
		</li>
		<li>
			<a><%= email %></a>
		</li>
	</script>  	



	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="http://backbonejs.org/backbone-min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script>

		// Global events
		var ev = _.clone(Backbone.Events)
		

		var User = Backbone.Model.extend({
			url: 'http://haikyou.herokuapp.com/user',

		});


		var UserView = Backbone.View.extend({
			el: '#me-menu',

			template: _.template($('#user-view-template').html()),

			initialize: function(){
				this.model.on('reset change', this.render, this);
			},

			render: function(){
				this.$el.prepend(this.template(this.model.toJSON()));
				return this;
			}			
		});

		var user = new User();
		var userView = new UserView({model: user});


		var Message = Backbone.Model.extend({
			url: 'http://haikyou.herokuapp.com/message',

			defaults:{
				'type': 'Haiku'
			}

		});


		var Conversation = Backbone.Collection.extend({
			initialize: function(){
				this.on('request', function(){ev.trigger('ev:request')});
				this.on('sync', function(){ev.trigger('ev:sync')});
			},

			url: 'http://haikyou.herokuapp.com/conversation',

		});

		var conversation = new Conversation({collection: Message});






		var NewMessageView = Backbone.View.extend({

			el: '#new-message-container',

			template: _.template($('#new-message-view-template').html()),

			initialize: function(){
				this.render();
				this.on('request', function(e){ev.trigger('ev:request', e)});				
				this.on('sync', function(e){ev.trigger('ev:sync', e)});
				this.model.on('change', this.render, this);

				var _this = this;

				// Since modal is not in the view we must listen to body
				$('#new-message-modal').on('shown.bs.modal', function(event){
					var button = $(event.relatedTarget);
					var messageType = button.data('message-type');

					_this.model.set('type', messageType);
				});

			},

			render: function(){
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			},

			events: {
				"click #new-message-btn": "newMessage"
			},

			newMessage: function(e){
				var newMessage = {
					'message': $('#message-text').val(),
					'from': 'Rocksteady',
					'to': 'Bebop',
					'date': 'just now',
					'visibility': false,
					'type': this.model.get('type')
				};

				this.model.set(newMessage);

				$('#message-text').val('');

				conversation.add(newMessage);
				this.model.save();

				$('#new-message-modal').modal('hide');
			}
		});


		var MessageView = Backbone.View.extend({

			template: _.template($('#message-view-template').html()),

			initialize: function(){
				this.model.on('destroy', this.remove, this);
			},

			remove: function(){
				this.$el.remove();
			},

			render: function(){
				this.$el.html(this.template(this.model.toJSON()));
				return this;
			},

			events: {
				"click .delete": "deleteMessage"
			},

			deleteMessage: function(e){
				this.model.destroy();
			}
		});



		var ConversationView = Backbone.View.extend({
			el: '#conversation-container',

			initialize: function(){
				this.collection.on('add', this.addOne, this);
				this.collection.on('reset', this.render, this);
			},

			render: function(){
				this.collection.forEach(this.addOne, this);
			},

			addOne: function(message){
				var messageView = new MessageView({model: message});
				this.$el.append(messageView.render().el);	
			}

		});

		var message = new Message();

		var conversationView = new ConversationView({collection: conversation});

		var newMessageView = new NewMessageView({model: new Message});


		ev.on('ev:request', function(e){
			$('#loading-container').show();
		});

		ev.on('ev:sync', function(){
			$('#loading-container').hide();
		});


		conversation.fetch({reset:true});
		user.fetch({reset:true});






		$(document).ready(function(){

			// Initialize tooltips
			$('.has-tooltip').each(function(e){
				$(this).tooltip();
			});

		});


	</script>

</html>

